services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend-app
    image: backend:latest
    ports:
      - "8000:8000"
    networks:
      - app-network
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend-app
    image: frontend:latest
    ports:
      - "3000:80"
    networks:
      - app-network
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
